body{
 background-color:#97dbf0;
 font-family: Verdana, sans-serif;
}

header{
    text-align: center;
}


.navbar {
    margin-bottom: 20px;
    box-shadow: 0 2px 10px black;
}

.logo-navbar{
    width: 10%;
    height: 10%;
}

.nav-item{
    text-decoration-color: aliceblue;
}


table {
    border-collapse: collapse; 
    /*width: 100%; /* Opcional: para que ocupe el ancho disponible */
}

table, th, td {
    border: 1px solid black; 
}

th, td {
    padding: 10px; 
    text-align: left;
}


a img {
    display: block;
    text-align: center;
    width: 100%;      
    max-width: 100%;
    height: auto;
    display: block;
}

section article{
  margin: auto;
  margin-top: 100px;
  left: auto;
}

footer {
    background-color: black;
    color: #fff;
    padding: 15px 20px;
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-columna {
    margin-bottom: 5px;
}

.footer-columna h4 {
    margin-bottom: 5px;
}

.footer-columna ul, .redes-sociales {
    list-style: none;
    padding: 0;
}

.footer-columna a {
    color: #bbb;
    text-decoration: none;
}

.footer-columna a:hover {
    color: #fff;
}

.footer-inferior {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 0.9em;
}